/*!
 * Start Bootstrap - Thumbnail Gallery (https://startbootstrap.com/template-overviews/thumbnail-gallery)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-thumbnail-gallery/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}
.img1
{
  height: 200px;
  width: 200px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
