<div class="container-fluid">
    <div class="row container-fluid ">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="img/img1.jpeg" alt="logo" style="width:40px;">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Jewlery Details</a></li>
                    <li><a href="category.html"> Categories</a></li>
                    <li><a href="customer.html">Customer</a></li>
                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </ul>
            </div>
        </nav>

    </div>
    <div class="row container-fluid">
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="img/i5.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                        <img  src="img/i1.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/i2.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/i3.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/i4.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/i5.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/img1.jpeg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/img1.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/img2.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/img3.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/img4.jpeg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/img5.jpg" alt="Chicago" style="width:100%;">
                    </div>


                    <div class="item">
                        <img src="img/img5.jpg" alt="New york" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="img/img6.jpeg" alt="New york" style="width:100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row container-fluid div1">
        <div class="col-sm-6 ">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d62195.321125730035!2d77.54618674193954!3d13.02244980046706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3bae177fc9d2e16d%3A0x18b508267e5229cd!2sDasarahalli%2C+Bengaluru%2C+Karnataka!3m2!1d13.0579453!2d77.6048316!4m5!1s0x3bae3d9b44afedbf%3A0x7ad463cb2c418ee5!2smalabar+rajaji+nagar!3m2!1d13.0037668!2d77.5494392!5e0!3m2!1sen!2sin!4v1531552051046"
            ></iframe>
        </div>

        <div class="col-sm-6">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">History</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">The historical background of Indian jewelry takes us back to the history of the country itself as both are almost equally old.
                            It was around 5000 years ago when the curiosity to beautify themselves by adorning some jewelry pieces arouse in people.
                            Since the beginning of the journey, the charm of jewelry and the beauty of Indian women by adorning it never separated.
                            It is rare to find any woman in India who may not have ever loved to decorate herself with jewelry.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Branches</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered tableWidth">
                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Contact</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body"><h2>Basic List Group</h2>
                            <ul class="list-group">
                                <li class="list-group-item">Name:Shwetha</li>
                                <li class="list-group-item">Phone No:9945415225</li>
                                <li class="list-group-item">Address:Rajaji Nagar,Bangalore</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class=" row container ">
        <div class="panel-footer">Panel Footer</div>

    </div>
</div>